<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method='post'>
        <label>Dish</label>
        <input name='name'/>
        <label>Price</label>
        <input name='price'/>
        <p><input type = 'submit' value='submit'></p>
    </form>
    {% for item in menu_data %}
    <h3>
        {{ item.name }}
        :
        {{ item.price }}K
    </h3>
    {% endfor %}    
</body>
</html>